/* font-family: 'Lexend Deca', sans-serif; */
/* font-family: 'Big Shoulders Display', cursive; */
body{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container-fluid{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}
.row{
    /* border: solid red; */
    border-radius: 20px;
    width: min-content;
    margin-top: 88px;
    margin-bottom: 88px;
}
.col-md-4{
    height: 443px;
    width: 326px;
}

#sedans{
    /* border: solid black; */
    border-radius: 20px 20px 0px 0px ;
    background-color: hsl(31, 77%, 52%);
}
#suvs{
    background-color: hsl(184, 100%, 22%);
}
#luxury{
    /* border: solid black; */
    border-radius: 0px 0px 20px 20px;
    background-color: hsl(179, 100%, 13%);
}
img{
    margin-top: 48px;
    margin-left:40px;
}
#sedans h2, #suvs h2, #luxury h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    margin: 0px;
    margin-left:40px;
    text-transform: uppercase;
    margin-top: 43px;
}
#sedans p, #suvs p, #luxury p{
    margin: 0px;
    font-size: 15px;
    text-transform: none;
    text-align: left;
    font-weight: 400px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-left:40px;
    width: 235px;
    margin-top: 40px;
}
button{
    border-radius: 30px;
    border: none;
    background-color:hsl(0, 0%, 95%);
    height: 48px;
    width: 147px;
    margin-left:40px;
    margin-top: 30px;
}
#sedans button{
    color:hsl(31, 77%, 52%);
}
#sedans button:hover{
    color: hsl(0, 0%, 95%);
    background-color:hsl(31, 77%, 52%);
    border: solid 2px hsl(0, 0%, 95%);
}
#suvs button{
    color:hsl(184, 100%, 22%);
}
#suvs button:hover{
    color: hsl(0, 0%, 95%);
    background-color:hsl(184, 100%, 22%);
    border: solid 2px hsl(0, 0%, 95%);
}
#luxury button{
    color:hsl(179, 100%, 13%);
}
#luxury button:hover{
    color: hsl(0, 0%, 95%);
    background-color:hsl(179, 100%, 13%);
    border: solid 2px hsl(0, 0%, 95%);
}


/* @media screen and (min-width:768px){
    #sedans{
        border: solid black;
        border-radius: 20px 0px 0px 20px ;
    }
    #luxury{
        border: solid black;
        border-radius: 0px 20px 20px 0px;
    }
    body{
        height: 100vh;
        margin: 0;
    }
    .container-fluid{
        position: absolute;
        top: 25%;
    }
    .col-md-4{
        height: 500px;
    }
} */
